@using MyToDo.Web.Services.Abstractions
@inject ITagService TagService
@inherits BaseComponent

<ModalDialog Title="Обновление тега" Text="Test" OnSubmit="@UpdateAsync" OnClose="@OnClose" DialogType="ModalDialog.ModalDialogType.CreateOrUpdate">
    <EditForm Model="@_updateTagDto" OnValidSubmit="@UpdateAsync">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="mb-3">
            <label for="nameInput" class="form-label">Название</label>
            <input type="text" class="form-control" id="nameInput" @bind="_updateTagDto.Name">
            <ValidationMessage For="@(() => _updateTagDto.Name)"></ValidationMessage>
        </div>
        <div class="mb-3 d-grid gap-2">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </EditForm>
</ModalDialog>

@if (IsShowErrorDialog)
{
    <ErrorDialog OnClose="@CloseErrorDialog"></ErrorDialog>
}