@using MyToDo.Web.Services.Abstractions
@inject IMemberService MemberService
@inject ITaskService TaskService

<ModalDialog Title="Обновление задачи" Text="Test" OnSubmit="@UpdateAsync" OnClose="@OnClose" DialogType="ModalDialog.ModalDialogType.CreateOrUpdate">
    <EditForm Model="@_updateTaskDto" OnValidSubmit="@UpdateAsync">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Заголовок</label>
            <input type="text" class="form-control" id="nameInput" @bind="_updateTaskDto.Title">
        </div>
        <div class="mb-3">
            <label for="descriptionInput" class="form-label">Описание</label>
            <textarea class="form-control" id="descriptionInput" @bind="_updateTaskDto.Description"></textarea>
        </div>
        <div class="mb-3">
            <label for="executorInput" class="form-label">Исполнитель</label>
            <select class="form-select" name="executorInput" id="executorInput" @bind="_updateTaskDto.ExecutorId">
                @foreach (var member in _members)
                {
                    @if (member.Id == _updateTaskDto.ExecutorId)
                    {
                        <option value="@member.Id" selected="selected">@member.LastName @member.FirstName</option>
                    }
                    <option value="@member.Id">@member.LastName @member.FirstName</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="taskTypeInput" class="form-label">Тип задачи</label>
            <select class="form-select" name="taskTypeInput" id="taskTypeInput" @bind="_updateTaskDto.TaskType">
                @foreach (var taskType in _taskTypes)
                {
                    @if (taskType == _updateTaskDto.TaskType)
                    {
                        <option value="@taskType" selected="selected">@GetTaskTypeNameInRussian(@taskType)</option>
                        continue;
                    }
                    <option value="@taskType">@GetTaskTypeNameInRussian(@taskType)</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="priorityInput" class="form-label">Приоритет</label>
            <select class="form-select" name="priorityInput" id="priorityInput" @bind="_updateTaskDto.Priority">
                @foreach (var priority in _priorities)
                {
                    @if (priority == _updateTaskDto.Priority)
                    {
                        <option value="@priority" selected="selected">@GetPriorityNameInRussian(priority)</option>
                    }
                    
                    <option value="@priority">@GetPriorityNameInRussian(priority)</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="deadLineInput" class="form-label">Срок</label>
            <input type="datetime-local" class="form-control" id="deadLineInput" @bind="_updateTaskDto.Deadline">
        </div>
    </EditForm>
</ModalDialog>