@using MyToDo.Web.Services.Abstractions
@inject IMemberService MemberService
@inject IRoleService RoleService
@inherits BaseComponent

<ModalDialog Title="Регистрация нового пользователя" Text="Test" OnSubmit="@UpdateAsync" OnClose="@OnClose" DialogType="ModalDialog.ModalDialogType.CreateOrUpdate">
    <EditForm Model="@_updateMemberDto" OnValidSubmit="@UpdateAsync">
        <div class="mb-3">
            <label for="firstNameInput" class="form-label">Имя</label>
            <input type="text" class="form-control" id="firstNameInput" @bind="_updateMemberDto.FirstName">
        </div>
        <div class="mb-3">
            <label for="lastNameInput" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="lastNameInput" @bind="_updateMemberDto.LastName">
        </div>
        <div class="mb-3">
            <label for="emailInput" class="form-label">Почта</label>
            <input type="email" class="form-control" id="emailInput" @bind="_updateMemberDto.Email">
        </div>
        <div class="mb-3">
            <label for="roleInput" class="form-label">Роль</label>
            <select class="form-select" name="roleInput" id="roleInput" @bind="_updateMemberDto.RoleId">
                @foreach (var role in _roles)
                {
                    <option value="@role.Id">@role.Name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="isActiveInput" class="form-label">Активность</label>
            <input type="checkbox" class="form-check" id="isActiveInput" @bind="_updateMemberDto.IsActive">
        </div>
    </EditForm>
</ModalDialog>