@page "/login"
@using MyToDo.Web.Services.Abstractions
@using MyToDo.Web.Components

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMemberService MemberService
@inherits MyToDo.Web.Components.BaseComponent

<EditForm Model="_loginDto" OnValidSubmit="@LoginAsync">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="row">
        <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
            <div class="mb-3 text-center">
                <h3>Вход в аккаунт</h3>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Почта</label>
                <input type="email" class="form-control" id="email" @bind="_loginDto.Email">
                <ValidationMessage For="@(() => _loginDto.Email)"></ValidationMessage>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Пароль</label>
                <input type="password" id="password" class="form-control" @bind="_loginDto.Password">
                <ValidationMessage For="@(() => _loginDto.Password)"></ValidationMessage>
            </div>
            <div class="mb-3 d-grid gap-2">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </div>
</EditForm>

@if (IsShowErrorDialog)
{
    <ModalDialog Title="Ошибка" Text="@GetErrorTextInRussian()" OnClose="@CloseErrorDialog" OnSubmit="@CloseErrorDialog" DialogType="ModalDialog.ModalDialogType.Error"></ModalDialog>
}